<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
{% if mobile %}
	<meta name="viewport" content="maximum-scale=1.0,width=device-width,initial-scale=1.0" />
{% endif %}
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
{% if mobile %}
	<link rel="stylesheet" href="/static/css/style-mobile.css" type="text/css" />
{% endif %}
{% if site %}
	<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed" />
{% endif %}
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/lostab.js"></script>
	<script type="text/javascript">
		var page = "{% block page %}{% endblock %}";
		var q = "{% if q %}{{ q }}{% endif %}";
	</script>
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-12681103-4']);
	  _gaq.push(['_setDomainName', '.sadpast.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<h2 id="title"><a href="/">{% block site-title %}{% endblock %}</a></h2>
			<div id="description">{% block site-description %}{% endblock %}</div>
			<div id="menu">
			{% if user %}
				{{ user.email }}
				{% if admin and site %}
					{% if not new %}
						<a href="/add/post">撰写</a>
					{% endif %}
					{% if not config %}
						<a href="/config">设置</a>
					{% endif %}
				{% endif %}
				<a class="logout-link" href="{{ logout|escape }}">退出</a>
				|
			{% endif %}
			{% ifnotequal page "home" %}
				<a class="home-link" href="/">首页</a>
			{% endifnotequal %}
			{% ifnotequal page "about" %}
				<a class="about-link" href="/about">关于</a>
			{% endifnotequal %}
			{% ifnotequal page "guestbook" %}
				<a class="guestbook-link" href="/guestbook">留言</a>
			{% endifnotequal %}
				<a class="feed-link" href="/feed">订阅</a>
				<form id="search-form" action="/">
					<input type="search" name="q" id="search">
					<input type="submit" value="搜索" id="search-submit">
				</form>
				<a class="music-switch">♪</a>
			</div>
		</div>
		<div id="container">
		{% block container %}{% endblock %}
		</div>
		<div id="footer">
			{% if site %}{{ site.author|escape }} @ 2011{% endif %}
		</div>
	</div>
</body>
</html>