{% extends "base.html" %}

{% block title %}留言{% if reply %} - 回复留言{% endif %} - {{ site.title|escape }}{% endblock %}
{% block site-title %}{{ site.title|escape }}{% endblock %}
{% block site-description %}{{ site.description|escape }}{% endblock %}
{% block container %}
	<div id="content">
		<div class="post guestbook">
			<h4 class="post-title">
				留言
			</h4>
			<div class="post-content">
				<p>在此留言，或者通过以下电子邮件地址联系：</p>
				<p>w@sadpast.com</p>
			</div>
			<div class="operate">
				<a class="return-link" href="/">返回</a>
			</div>
			<div id="post-comment">
			{% if not reply %}
				<div id="comment-form">
					<h5>添加留言</h5>
					<form action="/add/comment" method="post">
						<label for="comment-author">名称：</label><input type="text" name="author" id="comment-author">
						<br />
						<label for="comment-email">邮箱：</label><input type="email" name="email" id="comment-email">
						<br />
						<label for="comment-url">网址：</label><input type="url" name="url" id="comment-url">
						<br />
						<label for="comment-content">内容：</label><textarea name="content" id="comment-content"></textarea>
						<br />
						<label for="comment-captcha">请输入“{{ captcha|escape }}”的阿拉伯数字：</label><input type="number" name="captcha" id="comment-captcha" min="0" max="9">
						<br />
						<input type="submit" value="提交" id="comment-submit">
					</form>
				</div>
			{% endif %}
			{% if commenthtml and commentcount %}
				<div id="comments-list">
					<h5>查看留言(<span class="commentcount">{{ commentcount }}</span>)</h5>
					<ol id="comments">
					{{ commenthtml }}
					</ol>
				</div>
			{% endif %}
			</div>
		</div>
	</div>
	{% include "rightsidebar.html" %}
{% endblock %}