{% extends "base.html" %}

{% block page %}{% if page %}{{ page|escape }}{% endif %}{% endblock %}

{% block title %}{{ site.title|escape }}{% endblock %}
{% block site-title %}{{ site.title|escape }}{% endblock %}
{% block site-description %}{{ site.description|escape }}{% endblock %}
{% block container %}
		{% if admin %}
			<div id="simple-publish">
				<h5>快速发布</h5>
				<form action="/add/post" method="post">
					<textarea name="content" id="post-content"></textarea>
					<div class="editor-tips">支持HTML，嵌入代码使用&lt;code<b><i>*</i></b>&gt;...&lt;/code<b><i>*</i></b>&gt;标签。</div>
					<input type="submit" id="post-submit" value="发布">
				</form>
			</div>
		{% endif %}
			<div id="content">
			{% if posts %}
				{% if q %}
					<p class="return-info"> <span class="search-word">{{ q }}</span> 的搜索结果：</p>
				{% endif %}
				<ol id="posts">
				{% for post in posts %}
					<li class="post" id="post-{{ post.key }}">
						<h4 class="post-title">
							<a class="post-permalink" href="/post/{{ post.key }}">
						{% if post.title %}
							{{ post.title|escape }}
						{% else %}
							{{ post.time|date:"Y-m-d H:i:s" }}
						{% endif %}
							</a>
						</h4>
						<div class="post-info"><a class="time">{{ post.time|date:"Y-m-d H:i:s" }}</a></div>
						<div class="post-content">
							{{ post.content }}
						</div>
						<div class="operate">
							{% if post.comment %}<a class="commentcountlabel"><span class="commentcount">{{ post.comment|escape }}</span>条</a>{% endif %}<a class="comment-link" href="/post/{{ post.key|escape }}#comment-form">评论</a>
						{% if admin %}
							<a class="update-link" href="/update/post?key={{ post.key }}">修改</a>
							<a class="delete-link" href="/delete/post?key={{ post.key }}">删除</a>
						{% endif %}
							<!--<a class="time">{{ post.time|date:"Y-m-d H:i:s" }}</a>-->
						</div>
					</li>
				{% endfor %}
				</ol>
			{% else %}
				{% if q %}
					<p class="return-info">暂时找不到 <span class="search-word">{{ q }}</span> 的搜索结果。</p>
				{% else %}
					<p class="return-info">暂时没有文章。</p>
				{% endif %}
			{% endif %}
				<div id="page-link">
				{% if previous %}
					{% if q %}
					<a id="previous-link" href="/previous/{{ previous }}?q={{ q|escape }}">上一页</a>
					{% else %}
					<a id="previous-link" href="/previous/{{ previous }}">上一页</a>
					{% endif %}
				{% endif %}
				{% if next %}
					{% if q %}
					<a id="next-link" href="/next/{{ next }}?q={{ q|escape }}">下一页</a>
					{% else %}
					<a id="next-link" href="/next/{{ next }}">下一页</a>
					{% endif %}
				{% endif %}
				</div>
			</div>
			{% include "rightsidebar.html" %}
{% endblock %}