{% extends "base.html" %}

{% block title %}{% if post.title %}{{ post.title|escape }}{% else %}{{ post.time|date:"Y-m-d H:i:s" }}{% endif %} - {% if reply %}回复评论 - {% endif %}{{ site.title|escape }}{% endblock %}
{% block site-title %}{{ site.title|escape }}{% endblock %}
{% block site-description %}{{ site.description|escape }}{% endblock %}
{% block container %}
	<div id="content">
		<div id="post">
				<h4 class="post-title">
					<a class="post-permalink" href="/post/{{ post.key }}">
				{% if post.title %}
					{{ post.title|escape }}
				{% else %}
					{{ post.time|date:"Y-m-d H:i:s" }}
				{% endif %}
					</a>
				</h4>
				<div class="post-content">
					{{ post.content }}
				</div>
				<div class="operate">
				{% if admin %}
					<a class="update-link" href="/update/post?key={{ post.key }}">修改</a>
					<a class="delete-link" href="/delete/post?key={{ post.key }}">删除</a>
				{% endif %}
					<a class="post-permalink time">{{ post.time|date:"Y-m-d H:i:s" }}</a>
				</div>
				<div id="previous-next-post">
				{% if previouspost %}
					<a href="/post/{{ previouspost.key }}">上一篇{% if previouspost.title|escape %}：{{ previouspost.title|escape }}{% endif %}</a>
				{% endif %}
				{% if previouspost and nextpost %}
					|
				{% endif %}
				{% if nextpost %}
					<a href="/post/{{ nextpost.key }}">下一篇{% if nextpost.title|escape %}：{{ nextpost.title|escape }}{% endif %}</a>
				{% endif %}
				</div>
			{% if not reply %}
				<div id="comment-form">
					<h5>添加评论</h5>
					<form action="/add/comment" method="post">
						<label for="comment-author">名称：</label><input type="text" name="author" id="comment-author">
						<br />
						<label for="comment-email">邮箱：</label><input type="email" name="email" id="comment-email">
						<br />
						<label for="comment-url">网址：</label><input type="url" name="url" id="comment-url">
						<br />
						<label for="comment-content">内容：</label><textarea name="content" id="comment-content"></textarea>
						<br />
						<label for="comment-captcha">请输入“{{ captcha|escape }}”的阿拉伯数字：</label><input type="number" name="captcha" id="comment-captcha" min="0" max="9">
						<br />
						<input type="submit" value="提交" id="comment-submit">
						<br />
						<input type="hidden" name="post" value="{{ post.key }}" id="comment-post">
					</form>
				</div>
			{% endif %}
			{% if commenthtml and commentcount %}
				<div id="comments-list">
					<h5>查看评论(<span class="commentcount">{{ commentcount }}</span>)</h5>
					<ol id="comments">
					{{ commenthtml }}
					</ol>
				</div>
			{% endif %}
		</div>
	</div>
	{% include "rightsidebar.html" %}
{% endblock %}