html,body{
	margin:0;
	padding:0;
	background:lightgray;
}
#wrapper{
	width:100%;
	text-align:center;
	font-family:"Constantia";
}
a{
	text-decoration:none;
	color:green;
}
a:hover{
	background:green;
	color:white;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
}
input,textarea{
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	border:1px solid gray;
}
#menu,.operate{
	clear:right;
	text-align:right;
	font-size:16px;
	color:gray;
}
label{
	font-size:16px;
}
img{
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
}
#header{
	width:960px;
	margin:0 auto;
	margin-top:13px;
	margin-bottom:7px;
	border-bottom:2px solid lightgray;
	text-align:left;
}
#header h2{
	margin-top:0;
	margin-bottom:7px;
	text-indent:1em;
}
#header h2 a:hover{
	background:none;
	color:green;
}
.time{
	font-size:16px;
	color:gray;
}
a.time{
	color:gray;
}
a.time:hover{
	background:none;
	color:gray;
}
#description{
	font-size:16px;
	text-indent:2em;
}
#search-form{
	display:inline;
}
#search{
	width:80px;
	border-color:lightgray;
}
#search-submit{
	color:gray;
	width:60px;
	border-color:lightgray;
	background:white;
}
.music-switch{
	cursor:pointer;
}
#container{
	width:960px;
	margin:0 auto;
	text-align:left;
}
#simple-publish{
	width:80%;
	margin:0 auto;
	padding-bottom:30px;
}
#publish-form,#edit-post{
	width:800px;
	height:480px;
}
#publish-form #post-title,#edit-post #post-title{
	width:720px;
}
#simple-publish #post-content{
	width:100%;
	height:30px;
	overflow-y:visible;
}
#publish-form #post-content,#edit-post #post-content{
	width:720px;
	height:360px;
	vertical-align:top;
	overflow-y:visible;
}
#simple-publish #post-submit{
	float:right;
}
#content{
	width:720px;
	float:left;
}
#posts,#comments,.comment .children{
	clear:both;
	margin:0;
	padding:0;
	list-style-type:none;
	list-style-position:outside;
}
#content .return-info{
	font-size:16px;
	text-indent:2em;
	word-wrap:break-word;
	color:gray;
}
#content .search-word{
	font-weight:bold;
}
.post-title{
	text-indent:2em;
	word-wrap:break-word;
}
.post-content{
	font-size:16px;
	text-indent:2em;
	word-wrap:break-word;
}
.post-content p{
	margin-top:1em;
	margin-bottom:1em;
	text-indent:2em;
}
.post-content code{
	display:block;
	border:1px solid gray;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	padding:1em;
	padding-top:0;
}
.comment{
	border:1px solid lightgray;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	padding:2px;
	margin-top:2px;
	margin-bottom:2px;
}
.comment-avator{
	float:left;
}
.comment-author{
	font-size:16px;
	margin:0;
	padding:0;
	font-weight:bold;
}
.comment-author a{
	font-weight:normal;
	word-wrap:break-word;
}
.comment-content{
	font-size:16px;
	word-wrap:break-word;
}
.post-content pre,.comment-content pre{
	margin:0;
	padding:0;
	white-space:pre-wrap;
	white-space:-moz-pre-wrap;
	white-space:-pre-wrap;
	white-space:-o-pre-wrap;
	word-wrap:break-word;
}
#page-link,#previous-next-post{
	clear:both;
	text-align:center;
	font-size:16px;
	color:gray;
}
#comment-form #comment-content,#edit-comment #comment-content{
	vertical-align:top;
	overflow-y:visible;
	width:300px;
	height:100px;
}
#rightsidebar{
	float:right;
	width:230px;
}
#rightsidebar ol,#rightsidebar li{
	margin:0;
	padding:0;
	list-style-type:none;
	list-style-position:outside;
}
#rightsidebar li{
	margin-bottom:3px;
}
#footer{
	clear:both;
	width:960px;
	margin:0 auto;
	margin-top:7px;
	margin-bottom:13px;
	text-align:right;
	font-size:16px;
	color:gray;
	border-top:2px solid lightgray;
}
#footer a{
	color:gray;
}
#footer a:hover{
	background:gray;
	color:white;
	border-radius:3px;
}
.editor-tips{
	color:gray;
	font-size:10px;
}
#header,.post,#post,.widget{
	background:white;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
}
#header{
	margin-top:0;
	padding-top:13px;
}
.post,#post,.widget{
	padding:7px;
	margin-bottom: 10px;
}
::selection{background:green;color:white;}
::-webkit-selection{background:green;color:white;}
::-moz-selection{background:green;color:white;}